src/test/resources/led-message-board-config.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:spring="http://www.springframework.org/schema/beans"
      xmlns:led-message-board="http://www.mulesoft.org/schema/mule/led-message-board"
      xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/led-message-board http://www.mulesoft.org/schema/mule/led-message-board/1.0/mule-led-message-board.xsd">

	
    <led-message-board:config name="config" interfaceNumber="1"/>

    <flow name="testFlow">
        <led-message-board:display-text config-ref="config" content="#[payload]"/>
    </flow>
</mule>
